<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    

</head>
<body>
    <section>
        <div class="container">
            <header>
                    <h1>Latest News</h1>
                    <p>ffmdfmldfmmfmsdmfsdmlfmsdfsdmfmsdmfsdmfmds</p>
            </header>
            <main>
                <div class="singleBlog">
                    <img src="../../../src/assets/images/mentdoc/blog/blog_ehr.jpg" alt="">
                    <div class="blogContent">
                        <h3>A cair of million<span>Art</span></h3>
                        <p>By<a href="#">Jhon doe </a> |<a href="#">Nov 21,2018</a></p>
                    <a href="#">Read More</a>
                    </div>
                </div>

                <div class="singleBlog">
                    <img src="../../../src/assets/images/mentdoc/blog/blog_sd.jpg" alt="">
                    <div class="blogContent">
                        <h3>A cair of million<span>Art</span></h3>
                        <p>By<a href="#">Jhon doe </a> |<a href="#">Nov 21,2018</a></p>
                    <a href="#">Read More</a>
                    </div>
                </div>

                <div class="singleBlog">
                    <img src="../../../src/assets/images/mentdoc/blog/blog_stress.jpg" alt="">
                    <div class="blogContent">
                        <h3>A cair of million<span>Art</span></h3>
                        <p>By<a href="#">Jhon doe </a> |<a href="#">Nov 21,2018</a></p>
                    <a href="#">Read More</a>
                    </div>
                </div>
               
            </main>
        </div>
    </section>
</body>
</html>
